<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nerver Ending Story</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="app">
      <h1 class="title">Nerver Ending Story</h1>
      <a class="nav" href="/">Home</a>
      {{{body}}}
    </div>
  </body>
</html>
