<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title class="never-end-title">The Never Ending Story..</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>
  <div class="app">
    <h1 class="title">The Never Ending Story...</h1>
    <h2 class="instructions">Continue the story by adding one word at a time...</h2>
    {{{body}}}
  </div>
</body>

</html>
{{!-- Check back to see where the story goes! --}}