<style>
  .container { text-align: left; width: 160ch; } .NeverEndingStoryStyle {
  display: inline} .form { display: inline; }
</style>
<div class="container">
  <p class="NeverEndingStoryStyle">{{NeverEndingStory}}</p>
  <form class="form" action="/" method="post">
    <label for="name" class="form-item">
      <input type="text" name="name" value="" />
    </label>
    <input type="submit" name="" value="Add next word." />
  </form>
</div>